# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Remove all files
*

# Keep only essential files

!.gitignore

# Package Info
!package.json
!package-lock.json

# Config
!config.json

# Build Info
!vercel.json
!api/
